.footer__logo {
    font-family: $font-logo, sans-serif;
    color: $color-fill;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px){
        font-size: 26px;
        line-height: 1.19;
    }
}
.footer__container{

    @media screen and (max-width: 1199px){
        display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
    }
}
.footer {

     @media screen and (min-width: 1200px){
       display: flex;
        align-items: baseline;
    }
    
}
.tablet-footer {
    @media screen and (min-width: 768px){
            display: flex;
            align-items: baseline;
        }
        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-left: 76px;
            
        }
}
.footer__container--margin {
  
    @media screen and (min-width: 768px) and (max-width: 1200px) {
            margin-left: 165px;
        }

        @media screen and (min-width: 1200px){
            margin-left: 70px; 
        }
}
.footer-nav__address {
    color: $color-fill;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.footer-nav__contact {
    color: $color-inform;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $color-psevdo;
    }
}
.footer-nav__item {
    @media screen and (max-width: 768px){
     text-align: center;    
    }
    &:not(:last-child){
     margin-bottom: 12px;
    }
}
.footer__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: $color-fill;

    @media screen and (max-width: 767px){
        text-align: center;
        margin-top: 60px;
    }
    
}
.actions-footer__list {
    display: flex;
    margin-top: 20px;
}
.actions-footer__item:not(:last-child) {
    margin-right: 10px;
}

.actions-footer__link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $color-psevdo;
    }
}
.actions-footer__icon {
    fill: $color-fill;
}
