$color-psevdo: #2196F3;
$color-fill-button: #188CE8;
$color-text:#000000;
$color-fill:#ffffff;
$color-inform:#757575;
$color-background:#2F303A;
$color-head:#212121;
$color-background2:#F5F4FA;
$color-icon: #AFB1B8;
$color-header-underline:#ECECEC;
$color-border-portfolio: #EEEEEE;

$font-body: 'Roboto', sans-serif;
$font-logo: 'Raleway',sans-serif;
